.modal{
    @include position(fixed);
    z-index: 10;
    .mask{
        @include position(fixed);
        background-color: #000000;
        opacity: 0.5;
    }
    .modal-dialog{
        @include position(absolute,40%,50%,660px,auto);
        background-color: #ffffff;
        transform: translate(-50%,-50%);
        .modal-header{
            
            background-color: #F5F5F5;
            height: 60px;
            padding: 0,25px;
            line-height: 60px;
            font-size: 16px;
            .icon-close{
                @include positionImg(absolute,14px,14px,'/imgs/icon-close.png',23px,25px);
                transition: transform .3s;
                &:hover{
                    transform: scale(1.5);
                }
            }
            span{
                margin-left: 15px;
            }
        }
        .modal-body{
            padding: 42px 40px 54px;
            font-size: 14px;
        }
        .modal-footer{
            height: 82px;
            line-height: 82px;
            background-color: #F5F5F5;
            text-align: center;
        }
    }
}